.App {
  text-align: center;
  height: 100vh;
}

.spikes {
  position: relative;
  background: #ccd5ae;
  height: 50vh;
  width: 100%;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -9%;
  top: 100%;
  z-index: -1;
  display: block;
  height: 115px;
  background-size: 115px 100%;
  background-image: linear-gradient(135deg, #ccd5ae 25%, transparent 25%),
    linear-gradient(225deg, #ccd5ae 25%, transparent 25%);
}
